html
  head
    title Blog Server
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1(class="serverTitle") Nick's Blog Server!
    div(class="icon-container")
        div(class='pulsing-7') 