html
    body
        head
        form(action="/auth/login", method="post") 
            input#username(type="text", name="username" value="nick") 
            input#password(type="password", name="password" value="1234") 
            button(type="submit") Hi